<!doctype html>
<html>
{{ partial "head.html" . }}
<body>
  {{ with .Site.Params.gtm -}}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{.}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {{- end }}
  <!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {{ partialCached "header.html" . }}
  {{ block "main" . -}}{{- end }}
  {{ partialCached "footer.html" . }}
  {{ partialCached "javascripts.html" . }}
</body>
</html>