{{ define "main" }}

<header class="g-banner post-header post-no-cover" data-theme="default">
    <div class="post-wrapper">
        {{ if isset .Params "tags" -}}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 -}}
            <div class="post-tags">
                {{ range $tag := (sort .Params.tags) -}}
                <a href="{{ "/tags/" | absURL }}#{{ . | urlize | lower }}" class="post-tag">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            {{ partial "post-meta.html" (dict "date" .Date "reading_time" .ReadingTime) }}
        </div>
    </div>
</header>

<div class="post-content">
    <article class="markdown-body">
        {{ .Content }}
    </article>
</div>

<section class="post-footer-item read-next">
    {{ with .Next }}
    <div class="read-next-item">
        <a href="{{ .Permalink }}" class="read-next-link"></a>
        <section>
            <span>{{ .Title }}</span>
            <p>{{ .Summary | truncate 80 }}</p>
        </section>
    </div>
    {{ end }}
    {{ with .Prev }}
    <div class="read-next-item">
        <a href="{{ .Permalink }}" class="read-next-link"></a>
        <section>
            <span>{{ .Title }}</span>
            <p>{{ .Summary | truncate 80 }}</p>
        </section>
    </div>
    {{ end }}
</section>
{{ end }}