{{ define "main" }}

<header class="g-banner post-header bgcolor-default{{ if (not (isset .Params "cover")) }} post-no-cover{{ end }}" data-theme="default">
    <div class="post-wrapper">
        {{ if isset .Params "tags" -}}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 -}}
            <div class="post-tags">
                {{ range $tag := (sort .Params.tags) -}}
                <a href="{{ "/tags/" | absURL }}#{{ . | urlize | lower }}" class="post-tag">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            {{ partial "post-meta.html" (dict "date" .Date "reading_time" .ReadingTime) }}
        </div>
    </div>
    {{ if isset .Params "cover" }}
    <div class="filter"></div>
    <div class="post-cover" style="background: url('{{ .Params.cover }}') center no-repeat; background-size: cover; -webkit-filter: blur(7px); filter: blur(7px);"></div>
    {{ end }}
</header>

<div class="post-content">
    <article class="markdown-body">
        {{ .Content }}
    </article>
    {{ if isset .Site.Params "socialshare" }}
    <div class="social-share-wrapper">
        <div class="social-share"></div>
    </div>
    {{ end }}
</div>

<section class="author-detail">
    <section class="post-footer-item author-card">
        {{ partialCached "author.html" . }}
    </section>
    <section class="post-footer-item read-next">
        {{ with .Next }}
        <div class="read-next-item">
            <a href="{{ .Permalink }}" class="read-next-link"></a>
            <section>
                <span>{{ .Title }}</span>
                <p>{{ .Summary | truncate 80 }}</p>
            </section>
            {{ if isset .Params "cover" }}
            <div class="filter"></div>
            <img src="{{ .Params.cover }}" alt="{{ .Title }}">
            {{ end }}
        </div>
        {{ end }}
        {{ with .Prev }}
        <div class="read-next-item">
            <a href="{{ .Permalink }}" class="read-next-link"></a>
            <section>
                <span>{{ .Title }}</span>
                <p>{{ .Summary | truncate 80 }}</p>
            </section>
            {{ if isset .Params "cover" }}
            <div class="filter"></div>
            <img src="{{ .Params.cover }}" alt="{{ .Title }}">
            {{ end }}
        </div>
        {{ end }}
    </section>
    {{ with .Site.DisqusShortname }}
    <section class="post-footer-item comment">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </section>
    {{ end }}
</section>

<script src="{{ "/js/social-share.min.js" | absURL }}"></script>
{{- if isset .Site.Params "socialshareitems" -}}
<script>
    socialShare('.social-share', {
        sites: [
            {{- $list := .Site.Params.socialShareItems -}}
            {{- $len := (len $list) -}}
            {{- range $index, $element := $list -}}
            '{{ $element}}'{{ if ne (add $index 1) $len }},{{ end }}
            {{- end -}}
        ]});
</script>
{{- end -}}
{{- with .Site.DisqusShortname -}}{{ template "_internal/disqus.html" . }}{{- end -}}
{{ end }}