{{ define "main" }}

<div class="g-banner tags-banner bgcolor-default" data-theme="default">
    <h2>{{ .Title | upper }}</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.Alphabetical }}
        <li>
            <span class="tag-name" id="{{ $value.Name | urlize | lower }}">«{{ $value.Name }}»</span>
            {{ range $value.Pages }}
            <a class="tag-post" href="{{ .Permalink}}" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</main>

{{ end }}