{{ define "main" }}

<main class="g-container home-content">
    <div class="article-list">
        {{- $paginator := .Paginate (where .Data.Pages "Type" "post") (index .Site.Params "paginate" | default 10) -}}
        {{- range $paginator.Pages -}}
            <article class="article-item">
                <section class="post-preview">
                    <a class="post-link" href="{{ .Permalink }}" title="{{ .Title }}"></a>
                    <h2 class="post-title">{{ .Title }}</h2>
                    {{- if isset .Params "description" -}}
                    <p class="post-excerpt">{{ .Params.description | plainify | htmlUnescape }}</p>
                    {{- else -}}
                    <p class="post-excerpt">{{ .Summary | plainify | htmlUnescape }}</p>
                    {{- end -}}
                </section>
                <footer class="post-meta">
                {{ if isset .Params "tags" -}}
                    {{ $tagsLen := len .Params.tags }}
                    {{ if gt $tagsLen 0 -}}
                    <div class="post-tags">
                        {{ range $tag := (sort .Params.tags) -}}
                        <a href="{{ "/tags/" | absURL }}#{{ . | urlize | lower }}" class="post-tag">{{ . }}</a>
                        {{ end }}
                    </div>
                    {{ end }}
                {{ end }}
                    <div class="post-info">
                        {{ partial "post-meta.html" (dict "date" .Date "reading_time" .ReadingTime) }}
                    </div>
                </footer>
            </article>
        {{ end }}

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) -}}
            {{ partial "page-nav.html" . }}
        {{ end }}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                {{ partialCached "author.html" . }}
            </section>
        </div>

        {{ with .Site.Params.siteSearch }}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Enter title to search">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {{ end }}

    </aside>

</main>
{{ end }}